@use "../utils/global-styles.scss" as gs;

#main-section {
   min-height: calc(100vh - 60.8px - 68.8px);
   padding: 20px 50px;

   .title-section {
      border-bottom: 2px black solid;
      width: 100%;

      h3 {
         font-weight: bold;
      }
   }

   .search-form {
      display: flex;
      justify-content: center;
      gap: 10px;
      margin-top: 20px;
      width: 100%;

      input[type="text"] {
         padding: 8px;
         border: 1px solid #4b5563; // gray
         border-radius: 5px;
         flex-grow: 1;
         outline: none;

         &:focus {
            border-color: gs.$primary-color;
            box-shadow: 0 0 0 2px rgba(234, 179, 8, 0.5);
         }
      }

      button {
         padding: 8px 15px;
         border: none;
         background-color: #eab308; // primary-color
         color: white;
         cursor: pointer;
         border-radius: 5px;
         transition: background-color 0.3s;

         &:hover {
            background-color: #ca8a04; // primary-hover
         }
      }
   }

   .result-section {
      margin-top: 20px;

      h4 {
         font-weight: bold;
      }

      table {
         width: 100%;
         border-collapse: collapse;
         background: white;
         box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

         thead {
            background: #eab308; // primary-color
            color: white;
         }

         th,
         td {
            padding: 10px 5px;
            border: 1px solid #4b5563; // gray
            text-align: center;
         }

         tr:nth-child(even) {
            background-color: #f3f4f6; // light-bg
         }

         td {
            .form-check {
               display: flex;
               justify-content: center;

               .form-check-input {
                  border: 1px gray solid;
               }
            }
         }
      }
   }
}
